.logo {
  padding: 10px;
  float: left;
}

.logo img {
  height: 30px;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

nav {
  background-color: var(--nav-color);
  top: 0;
  position: fixed;
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 14px;
}

nav a:hover {
  color: var(--accent-color);
}

h1 span {
  display: block;
  font-size: 35px;
  color: var(--secondary-color);
  text-align: center;
}

h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 92px;
}

h2 {
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  text-align: center;
}

header {
  display: flex;
  margin-top: 250px;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

section {
  font-size: 18px;
  padding: 100px;
  color: var(--white);
}

section ul li {
  margin-bottom: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  flex-direction: column;
  display: flex;
  background-color: var(--nav-color);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 50px;
  margin: 10px;
  height: 600px;
  width: 400px;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
  overflow: auto;
}

.card:hover {
  transform: translateY(-10px);
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  margin-top: 80px;
  padding: 10px;
  height: 10px;
  font-size: 13px;
  border-radius: 15px;
}

@media only screen and (max-width: 575px) {
  section {
    padding: 50px;
  }

  nav li {
    margin: 0 auto;
    font-size: 10px;
  }

  h1 {
    font-size: 68px;
  }

  h3 {
    font-size: 16px;
  }

  .card {
    font-size: 14px;
    padding: 20px;
  }
}

form {
  max-width: 1000px;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--nav-color);
  padding: 50px;
  display: flex;
}

#contact label {
  margin-bottom: 5px;
}

#contact input[type='text'],
#contact input[type='email'] {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 30px;
}

#contact textarea {
  padding: 30px;
  border-radius: 10px;
  border: none;
  margin-bottom: 50px;
}

.buttons input[type='reset'],
.buttons input[type='submit'] {
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons input[type='reset']:hover,
.buttons input[type='submit']:hover {
  background-color: var(--black);
}
