body {
  background-color: #002146;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.logo {
  padding: 10px;
  margin-left: 20px;
  float: left;
}

.logo img {
  height: 30px;
}

nav {
  background-color: #001837;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: #9be2e8;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}

h1 span {
  display: block;
  margin-bottom: 15px;
  font-size: 30px;
  color: #9be2e8;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 92px;
}

h2,
h3 {
  text-align: left;
}

nav a:hover {
  color: #5dd0da;
}

header {
  display: flex;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

section {
  font-size: 20px;
  padding: 100px;
  color: white;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #021124;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 20px;
  height: 200px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}

.card:hover {
  transform: translateY(-10px);
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #001837;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

#contact label {
  margin-bottom: 5px;
}

#contact input[type='text'],
#contact input[type='email'] {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 30px;
}

#contact textarea {
  padding: 30px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}

.buttons input[type='reset'],
.buttons input[type='submit'] {
  background-color: #1a2636;
  color: #5dd0da;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
  width: 100%;
}

.buttons input[type='reset']:hover,
.buttons input[type='submit']:hover {
  background-color: #010f20;
}
